body{
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px;
}

.header .logo{
    display: flex;
    align-items: center;
    
}

.header .nome{
    font-weight: 800;
    font-size: 20px;
    margin-left: 5px;
}

.header .menu{
    display: flex;
    align-items: center;
}

.menu li a{
    font-size: 15px;
    padding: 11px 6px;
    transition: 0.3s ease-in-out;
    margin: 8px;
}

.menu li a:hover{
    background-color: #5BC241;
    color: #ffffff;
}

.menu li a.botao{
    background-color: #5BC241;
    color: #ffffff;
    border-radius: 10px;
    margin-left: 10px;
    padding: 10px 20px;
}